body {
  margin: 0;
  padding: 0;
  background-image: url("./assets/squares.jpg");
  background-repeat: repeat;
  background-size: 10%;
  padding: 30px;
}

h1 {
  text-align: center;
  font-family: Osd;
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 45px;
  text-shadow: black 2px 2px;
  color: #ff3886;
}

h2 {
  text-align: center;
  font-family: Osd;
}

h6 {
  font-family: Osd;
  font-size: 11px;
  text-align: center;
}

.comment {
  padding-top: 80px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px;
}

.sections {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 440px;
}

.main-square {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 85%;
  width: 85%;
  border-radius: 7px;
  padding: 20px;
  position: relative;
  /* background-color: aqua;*/
}

.instrument-square {
  background-color: #fde5fc;
  border: solid 5px #fde5fc;
  border-radius: 7px;
  margin: 10px;
  font-family: Osd;
  font-size: 20px;
  padding-top: 30%;
  box-shadow: 0 2px 16px 0 rgba(129, 88, 120, 0.395);
  cursor: pointer;
}

.instrument-square.selected {
  margin: 6px;
  border: 6px solid;
  border-color: #c9fad9;
  background-color: #c9fad9;
  outline: 4px solid #c1f1dbbe;
  border: solid 10px #bffcdec6;
}

.play-button {
  outline: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 70px;
  background-color: #ff3886;
  border: solid 10px #ff3886;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  font-family: Osd;
  font-size: 30px;
  text-shadow: black 2px 2px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.play-button:hover {
  background-color:#f42075;
  border: solid 10px #f42075;
  outline: none;
  color: #fff;
}
.play-button.active {
  background-color: #ab9ca2;
}

.performer-img {
  width: 10%;
  height: auto;
}

.crowd {
  display: grid;
  grid-template-columns: 80px 100px 90px 80px 100px;
 grid-template-rows: 100px 90px 100px; 
}

.listener {
  margin: 5px;
  transition: transform 0.5s, filter 0.5s;
  position: relative;
}

.person {
  width: 60%;
  position: absolute;
  transition: top 0.5s, left 0.5s;
}

.listener.bleeding {
  transform: rotate(90deg);
  filter: grayscale(100%);
}

.blood-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}
/* Fonts */

@font-face {
  font-family: "M12";
  src: url("./assets/fonts/m12.TTF");
}

@font-face {
  font-family: "Osd";
  src: url("./assets/fonts/osd.ttf");
}

@font-face {
  font-family: "Pixel";
  src: url("./assets/fonts/pixel.ttf");
}

@font-face {
  font-family: "Bit Bots";
  src: url("./assets/fonts/bit-bots.ttf");
}
